<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Main">


    <section class="pb-4" id="grade">

        <f:for each="{Grade.section}" as="Item">

            <f:render partial="Grade/Header" arguments="{Item: Item}" />

            <a href="">
                <div class="condition">
                    <p class="m-2 text-center">
                        <i class="fas fa-exclamation-circle" aria-hidden="true"></i>
                        Conditions d'avancement
                    </p>

                    <div class="info">
                        <p>Pour une année déterminée, le nombre de nominations prononcées au titre de l'une des deux
                            voies
                            d'avancement ne peut être inférieur au quart du nombre total d'avancements prononcés.</p>
                    </div>
                </div>
            </a>

            <f:render partial="Grade/3Cols"/>

            <f:render partial="Grade/Header" arguments="{Item: Item}" />
            <f:render partial="Grade/SimpleCol"/>

            <f:render partial="Grade/Header" arguments="{Item: Item}" />
            <f:render partial="Grade/2ColsWithArrow"/>



        </f:for>

    </section>


</f:section>