<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="container px-0">

    <f:comment>
        <!-- Création d'une variable pour le placement des items -->
    </f:comment>

    <f:variable name="classeDirection">
        <f:if condition="{Item.col2.relation} == 'Gauche'">
            flex-column-reverse
        </f:if>
        <f:if condition="{Item.col2.relation} != 'Gauche'">
            flex-column
        </f:if>
    </f:variable>



    <div class="d-flex flex-md-row align-items-center {classeDirection}">


        <f:comment>
            <!-- Premier cadre -->
        </f:comment>

        <div class="col p-0 mw-100 align-self-end">

            <f:if condition="{Item.col2.promotionElement1} == 'Oui'">
                <div class="m-2 arrow-size">
                    <i class="fas fa-arrow-up" aria-hidden="true"></i>
                </div>
            </f:if>

            <f:link.typolink parameter="{Item.col2.lienElement1}">
                <div class="box_carriere">
                    <p class="m-0 p-3">{Item.col2.titreElement1}</p>
                </div>
            </f:link.typolink>

        </div>

        
        <f:comment>
            <!-- Affichage d'une flêche entre les deux cadres s'il y a une promotion interne -->
        </f:comment>

        <f:if condition="{Item.col2.relation}">

            <f:if condition="{Item.col2.relation} == 'Gauche'">
                <div class="col-2 mb-2 py-4 arrow-size d-none d-md-block align-self-end">
                    <i class="fas fa-arrow-right" aria-hidden="true"></i>
                </div>
            </f:if>

            <f:if condition="{Item.col2.relation} == 'Droite'">
                <div class="col-2 mb-2 py-4 arrow-size d-none d-md-block align-self-end">
                    <i class="fas fa-arrow-left" aria-hidden="true"></i>
                </div>
            </f:if>

            <f:if condition="{Item.col2.relation} == 'Non'">
                <div class="col-2">
                </div>
            </f:if>

        </f:if>


        <f:comment>
            <!-- Deuxième cadre -->
        </f:comment>

        <div class="col p-0 mw-100 align-self-end">
            <f:if condition="{Item.col2.promotionElement2} == 'Oui'">
                <div class="m-2 arrow-size">
                    <i class="fas fa-arrow-up" aria-hidden="true"></i>
                </div>
            </f:if>


            <f:link.typolink parameter="{Item.col2.lienElement2}">
                <div class="box_carriere">
                    <p class=" m-0 p-3">{Item.col2.titreElement2}</p>
                </div>
            </f:link.typolink>
        </div>
    </div>
</div>