<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="d-flex">

    <f:comment>
        <!-- Promotion d'un cadre à un autre -->
    </f:comment>

    <f:switch expression="{arrow}">

        <f:comment>
            <!-- Vérification des cas, pour le placement de la flêche -->
        </f:comment>

        <f:case value="Gauche">

            <div class="col d-flex justify-content-center mb-5">
                <div class="m-2 arrow-size-cat d-none d-md-flex">
                    <i class="fas fa-arrow-up" aria-hidden="true"></i>
                </div>
            </div>

            <div class="col-2 d-flex justify-content-center mb-5">
                <div class="m-2 arrow-size-cat d-md-none d-flex">
                    <i class="fas fa-arrow-up" aria-hidden="true"></i>
                </div>
            </div>

            <div class="col d-flex justify-content-center mb-5"></div>

        </f:case>


        <f:case value="Centre">

            <div class="col d-flex justify-content-center mb-5"></div>

            <div class="col-2 d-flex justify-content-center mb-5">
                <div class="m-2 arrow-size-cat">
                    <i class="fas fa-arrow-up" aria-hidden="true"></i>
                </div>
            </div>

            <div class="col d-flex justify-content-center mb-5"></div>

        </f:case>


        <f:case value="Droite">

            <div class="col d-flex justify-content-center mb-5"></div>

            <div class="col-2 d-flex justify-content-center mb-5">
                <div class="m-2 arrow-size-cat d-md-none d-flex">
                    <i class="fas fa-arrow-up" aria-hidden="true"></i>
                </div>
            </div>

            <div class="col d-flex justify-content-center mb-5">
                <div class="m-2 arrow-size-cat d-none d-md-flex">
                    <i class="fas fa-arrow-up" aria-hidden="true"></i>
                </div>
            </div>

        </f:case>

    </f:switch>
</div>