#cadre {
    .category {
        margin-top: 10px;
        margin-bottom: 10px;
        border-bottom: 2px solid #eaeaea;
        border-top: 1px solid #eaeaea;
        border-left: 1px solid #eaeaea;
        border-right: 1px solid #eaeaea;
        border-radius: 4px;
        background-color: #f2f2f2;
        font-size: 1.1rem;
        margin: 0;
        text-align: center;

        a {
            text-decoration: none !important;
        }
    }

    .box_carriere {
        background-color: $primary;
        color: #ffffff;
        width: 100%;
        border-radius: 4px;
        border: 1px solid #7F7F7F;
        margin: 1rem 0;
        transition: all 0.3s ease-in-out 0s;
    }

    .box_carriere:hover {
        background-color: $light !important;
        color: $primary !important;
        width: 100%;
    }

    .arrow-size {
        font-size: 2rem;
    }

    .arrow-size-cat {
        font-size: 3rem;
    }

}



#grade {

    .bg-custom-3col{
        background-color: rgb(245, 245, 250);
    }

    h4 {
        font-size: 17px !important;
    }

    .link_header {
        color: #fff;
        background-color: $secondary;
        width: 100%;
        padding: 0.5em;
        font-size: 1em;
        transition: all 0.3s ease-in-out 0s;
    }

    .link_header:hover {
        background-color: #f1cec4 !important;
        color: $primary !important;
        width: 100%;
    }

    a {
        text-decoration: none !important;
    }

    .condition {
        color: $secondary;
        border: 2px solid $secondary;
        margin: 1rem 0;
        font-size: 14px;

        .info {
            position: absolute;
            color: black;
            background: #d4e1f4;
            padding: 15px;
            width: 24em;
            transform: scale(0) rotate(-12deg);
            transition: all 0.25s;
            opacity: 0;
            z-index: 100;
            margin: 1.3rem 0;
        }

        .info::before {
            content: "";
            position: absolute;
            left: center;
            height: 0;
            top: -6px;
            width: 0;
            border-bottom: 6px solid #d4e1f4;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
        }

    }

    .condition:hover {
        .info {
            transform: scale(1) rotate(0);
            opacity: 1;
        }
    }

    .content {
        background-color: #d4e1f4;
        border-radius: 4px;
        border-bottom: 1px solid #eaeaea;
        border-top: 1px solid #eaeaea;
        border-left: 1px solid #eaeaea;
        border-right: 1px solid #eaeaea;
        padding: 1em;
    }

    .condition_content {
        color: black;
        border: 1px solid rgb(219, 219, 219);
        margin: 1rem 0;
        font-size: 14px;

        .info_content {
            position: absolute;
            color: black;
            background: #d4e1f4;
            padding: 15px;
            width: 24em;
            transform: scale(0) rotate(-12deg);
            transition: all 0.25s;
            opacity: 0;
            z-index: 100;
            margin: 1.3rem 0;
            border-radius: 4px;
        }

        .info_content::before {
            content: "";
            position: absolute;
            left: center;
            height: 0;
            top: -6px;
            left: 5px;
            width: 0;
            border-bottom: 6px solid #d4e1f4;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
        }
    }

    .condition_content:hover {
        .info_content {
            transform: scale(1) rotate(0);
            opacity: 1;
        }
    }


    @media screen and (max-width: 768px) {
        .Col {
            background-color: #e9eef5;
            padding: 20px !important;
        }
    }

    // h4 {
    //     font-size: 12px !important;
    // }

    // .link_header {
    //     color: #fff;
    //     background-color: $secondary;
    //     width: 100%;
    //     padding: 0.1em;
    //     font-size: 14px;
    //     transition: all 0.3s ease-in-out 0s;
    // }
}