<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="container pt-4 px-0 rounded">
    <div class="d-flex flex-lg-row flex-column text-center align-items-center">
       
       
        <div class="col mb-3">
            <div class="content">
                <p class="mb-3"><u>Conditions d'avancement</u></p>
                <p>
                    Avoir atteint le 5ème échelon du grade d’administrateur hors classe
                    8 ans de services en position de détachement dans
                    l'un ou plusieurs des emploi suivants :
                </p>
            </div>
            <a href="">
                <div class="condition_content">
                    <p class="m-2 text-center">
                        Conditions d'avancement
                    </p>

                    <div class="info_content">
                        <p>Pour une année déterminée, le nombre de nominations prononcées au titre de l'une des deux
                            voies
                            d'avancement ne peut être inférieur au quart du nombre total d'avancements prononcés.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col mb-3">
            <div class="content">
                <p class="mb-3"><u>Conditions d'avancement</u></p>
                <p>
                    Avoir atteint le 5ème échelon du grade d’administrateur hors classe
                    8 ans de services en position de détachement dans
                    l'un ou plusieurs des emploi suivants :
                </p>
            </div>
            <a href="">
                <div class="condition_content">
                    <p class="m-2 text-center">
                        Conditions d'avancement
                    </p>

                    <div class="info_content">
                        <p>Pour une année déterminée, le nombre de nominations prononcées au titre de l'une des deux
                            voies
                            d'avancement ne peut être inférieur au quart du nombre total d'avancements prononcés.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col mb-3">
            <div class="content">
                <p class="mb-3"><u>Conditions d'avancement</u></p>
                <p>
                    Avoir atteint le 5ème échelon du grade d’administrateur hors classe
                    8 ans de services en position de détachement dans
                    l'un ou plusieurs des emploi suivants :
                </p>
            </div>
            <a href="">
                <div class="condition_content">
                    <p class="m-2 text-center">
                        Conditions d'avancement
                    </p>

                    <div class="info_content">
                        <p>Pour une année déterminée, le nombre de nominations prononcées au titre de l'une des deux
                            voies
                            d'avancement ne peut être inférieur au quart du nombre total d'avancements prononcés.</p>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>