<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="container py-5 text-center">
    <div class="col mb-3">
        <div class="content">
            <p class="mb-3"><u>Conditions d'avancement</u></p>
            <p>
                Avoir atteint le 6ème échelon, au moins, du grade d’administrateur
                et
                4 ans au moins de services effectifs accomplis dans le grade
                et
                Soit avoir occupé pendant au moins 2 ans au titre d’une période de mobilité, en position d’activité ou
                de détachement, dans la fonction publique de l’Etat ou hospitalière, ou dans une autre collectivité ou
                établissement que celui qui a procédé au recrutement dans le cadre d’emploi, certains emplois de
                direction, un emploi correspondant au grade d’administrateur ou un emploi créé en application de
                l'article 6-1 de la loi 84-53.
                Soit avoir bénéficié, à temps complet, pendant au moins 2 ans, d'une décharge d'activité de service ou
                d’une mise à disposition auprès d’une organisation syndicale.
            </p>
        </div>
        <a href="">
            <div class="condition_content">
                <p class="m-2 text-center">
                    Conditions d'avancement
                </p>

                <div class="info_content">
                    <p>Pour une année déterminée, le nombre de nominations prononcées au titre de l'une des deux
                        voies
                        d'avancement ne peut être inférieur au quart du nombre total d'avancements prononcés.</p>
                </div>
            </div>
        </a>
    </div>
</div>